<div class="mb-5">

    <h3 class="mt-2">{{data}}</h3>

  <div class="mt-5 text-center row mb-5">

      <div class="col-6 mt-5 mb-5 ">
          <form style="background-color: rgba(142, 178, 229, 0.148); border-radius: 70px;"
              action="" class="mt-2  pb-3 container w-75  text-center">
              <h1 class="text-center p-5" style="color: rgb(137, 174, 237);">Sign In</h1>


              <div class="p-2 mt-2">
                  <input [(ngModel)]="acno"  id="u1" name="acc" [placeholder]="data2"
                      style="border: none;" class="form-control mt-2 p-2" type="text">
              </div>

              <div class="p-2 mt-2">
                  <input [(ngModel)]="psw"  id="p1" name="password" class="form-control mt-2 p-2" type="password"
                      placeholder="enter password">
              </div>


              <button (click)="login()" type="button" class="btn w-25 rounded-pill btn-outline-info mt-4 p-2 c">login</button>

              <p class="mt-2 " style="color: rgb(250, 250, 250);">
                  dont have account?
                  <a style="text-decoration: none; color: white;" routerLink="signup" >
                      <strong>create account</strong>
                  </a>

              </p>

          </form>

      </div>
      <div class="col-6 mt-5 pt-5 mb-5">
          <img class="mb-5" style="height: 500px;"
              src="https://i.postimg.cc/CLBz7Ny3/why-us.png"
              alt="">
      </div>

  </div>
</div>