<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link ms-5" aria-current="page" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Balance Check</a></li>
                <li class="nav-item"><a class="nav-link ms-5" data-bs-toggle="offcanvas"
                     href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Money Transfer</a></li>
                <li class="nav-item"><a class="nav-link ms-5" href="#!">Account Statements</a></li>
                <li>
                    <div class="dropdown">

                        <button class="btn ms-5 dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-2x fa-circle-user text-info fa-fade"></i>
                        </button>
                        <ul class="dropdown-menu bg-dark">
                            <li><a data-bs-toggle="modal" data-bs-target="#exampleModal1" class="dropdown-item text-info" href="#">Profile View</a></li>
                            <li><a class="dropdown-item text-info" href="#">Delete Account</a></li>
                            <li><a class="dropdown-item text-info" href="#">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full"
    style="background-image: url('https://i.postimg.cc/ZnTrsYvD/abstract-network-featured.jpg');background-size: contain;">
    <div class="text-center my-5">
        <img style="height: 150px; width: 150px;" class="img-fluid rounded-circle border border-3 mb-4"
            src="https://i.postimg.cc/MpSv76NC/494414.webp" alt="..." />
        <h1 class="text-white fs-3 fw-bolder">Easy Banking </h1>
        <p class="text-white-50 mb-0">make it easy</p>
    </div>
</header>


<div class="row">
    <div class="col-6">

        

        <h1 class="ps-5 pt-5 text-white">MAXIMIZE YOUR <br>
            EARNING POTENTIAL
        </h1>
        <p class="p-5 text-secondary fs-5"> With Reward Checking, you can earn interest1 on your personal checking
            account and get rewarded for everyday
            spending.All interest rates and APY are variable and may change after account opening. Interest rate and APY
            earned will be based using the level of requirements met. Fees may reduce earnings on this account. Some
            restrictions do apply. $50 minimum is required to open account.</p>

    </div>
    <div class="col-6">
        <img style="width: 60%;" class="" src="https://i.postimg.cc/yxY6WxGK/download-1.png" alt="">
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark text-white p-3">
                <h3>Hello <span class="text-info">Name</span></h3>
                <div class="text-center mb-3">
                    <img class="w-75" src="https://i.postimg.cc/xdGBNQrg/My-project-1.png" alt="">
                </div>
                <h5  >The Current Available balance in Accoint Number 
                    <strong class="text-info">1234</strong></h5>
                <h4><span class="text-info">Rs- 000 </span>Only</h4>

            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- money transfer -->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header bg-dark text-white">
      <h2 class="offcanvas-title mt-5 text-center" id="offcanvasExampleLabel">Money Transfer</h2>
      <button type="button" class="btn-close btn-info bg-light " data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-dark text-white">
      <div>
        <img src="https://i.postimg.cc/9FNfLrX4/My-project-2.png" alt="">
      </div>
      <form class="p-3" action="">
        <input class="form-control mt-3" type="text" placeholder="Recipient Account Number" aria-label="default input example">
        <input class="form-control mt-3" type="text" placeholder="Amount" aria-label="default input example">
        <input class="form-control mt-3" type="text" placeholder="Password" aria-label="default input example">
        <button class="btn btn-outline-primary w-100 mt-4">Send Money</button>
      </form>
      
    </div>
  </div>


  <!-- profile -->
  <!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark">
<div class="text-center mb-5">
              <img style="border-radius: 200px; width: 30%;" src="https://i.postimg.cc/8zKgTyPK/114500191-male-user-icon.jpg" alt="">
    
</div>          <div class="row">
            <div class="col-6 text-info">
                <h5 class="mt-2">User Name</h5>
                <hr>
                <h5 class="mt-2">Account Number</h5>
      
            </div>
            
            <div class="col-6">
                <h3>abcd</h3>
                <hr>
                <h3>1234</h3>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>